.navbar
{
	/*background-colour: transparent;*/
	background: #AD7B06; /*Gold*/
	position: relative;
}

.navbar-brand
{
	position: absolute;
	left: 50%;
	margin-left: -50px !important;
	display: block;
}

#navbarLogo
{
	content: url("images/logo/navLogo.jpg");
	width: 15%;
}

@font-face
{
	font-family: Mirza;
	src: url(Mirza-Regular.ttf) format('truetype');
}

.mirzaFont
{
	font-family: Mirza;
}

footer
{
	background: #AD7B06;
}

#whatsappIcon
{
	content: url("icons-1.8.1/icons/whatsapp.svg");
	width: 12px;
}

#twitterIcon
{
	content: url("icons-1.8.1/icons/twitter-x.svg");
	width: 12px;
}

#facebookIcon
{
	content: url("icons-1.8.1/icons/facebook.svg");
	width: 12px;
}

#linkedinIcon
{
	content: url("icons-1.8.1/icons/linkedin.svg");
	width: 12px;
}

#footerLogo
{
	content: url("images/logo/footerLogo.jpg"); 
	max-width: 10%;
}

#splash
{
}

#splashButton
{
	background-color: #AD7B06;
	border-color: #000000;
}

#splashImage
{
	content: url("images/stock/book-stack.png");
	
	max-width: 40%;
	height: auto;
	/*
	max-width: 50%;
	max-height: 50%;	*/
}

.tutoring
{
	width:80%; 
	height: 300px; 
	border-radius: 21px 21px 0 0;
}

#oneOnOneTutoring
{
	background-color: #AD7B06;
}

#groupTutoring
{
	background-color: #F6F6F6;
}

#oneOnOneImage
{
	width: 100%;
	height: auto;
	content: url("image/one-on-one.jpg");
}

#groupImage
{
	width: 100%;
	height: auto;
	content: url("image/group.jpg");
}
img .img-fluid
{
	max-width: 100%;
	height: auto;
}

.imgSizing
{
	width: 300px;
	height: 220px;
	border-radius: 7px;
}








#firstRow
{
	/*margin-bottom: -19%;*/
}

.rowCardHeight
{
	max-height: 260px;
}

#firstRow:hover #mainPic
{
	/*margin-bottom: -19%;*/
	
	opacity: 0.6;
}

#firstRow:hover #learnBtn
{
	opacity: 1;
}



#troubleRow
{
	position: relative;
	margin-top: -24%;
}

.backgrounding
{
	background-color: #AD7B06;
	color: #FFFFFF; /*White*/
}

#learnParagraph
{
	text-align: center;
	position: relative;
	top: -40%;
	color: #FFFFFF; /*White*/
	
	background-color: rgb(0,0,0); /* Fallback color */
	background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
	color: white;
	/* font-weight: bold; */
}



#contactUs
{
	border-none;
	border-radius: 15px;
	
	
	background-color: #AD7B06;	/*Yellow*/
	width: 50%;
	color: #FFFFFF; /*White*/
}



#aboutHeading
{
	text-align: left;
	/*margin-top: -3%; for md*/
	/*margin-top: -7%; for sm*/
	margin-top: 0%; /* correct it to -25% if troubeRow has its margin-top set to -10%*/
}


.aboutAlign
{
	max-width: 60%;
}

#aboutUs
{
}

#services
{
}

#aboutPic
{
	content: url("image/pencil.png");
	/* margin-top:-20%;  For when you use #aboutAlign + col-md-7(#aboutUs)*/ 
	
	/*margin-top: -5%;*/
}

#leftPic
{
	background-image: url("image/water07.png");
	background-repeat: no-repeat;
	background-size: 25% 100%; 
	padding-right: 0%;	
	padding-left: 30%;
	/*padding-bottom: 50%;*/
	margin-right: -21.6%;
	/*margin-top: -15%; */
}

#topScroll
{
	position: relative;
	left: 95%;
	top: 0.5%;
}
