.navbar
{
	/*background-colour: transparent;*/
	background: #AD7B06; /*Gold*/
	position: relative;
}

.navbar-brand
{
	position: absolute;
	left: 50%;
	margin-left: -50px !important;
	display: block;
}

#navbarLogo
{
	content: url("images/logo/navLogo.jpg");
	width: 15%;
}

@font-face
{
	font-family: Mirza;
	src: url(Mirza-Regular.ttf) format('truetype');
}

.mirzaFont
{
	font-family: Mirza;
}

footer
{
	background: #AD7B06;
}

#whatsappIcon
{
	content: url("icons-1.8.1/icons/whatsapp.svg");
	width: 12px;
}

#twitterIcon
{
	content: url("icons-1.8.1/icons/twitter-x.svg");
	width: 12px;
}

#facebookIcon
{
	content: url("icons-1.8.1/icons/facebook.svg");
	width: 12px;
}

#linkedinIcon
{
	content: url("icons-1.8.1/icons/linkedin.svg");
	width: 12px;
}

#footerLogo
{
	content: url("images/logo/footerLogo.jpg"); 
	max-width: 10%;
}

#splashButton
{
	background-color: #AD7B06;
	border-color: #000000;
}

.tutoring
{
	width:80%; 
	height: 300px; 
	border-radius: 21px 21px 0 0;
}

#TutorImage1
{
	min-width: 180px;
	max-height: 180px;
	content: url("images/tutors/Photo from Gontse - 1.jpg");
}

#TutorImage2
{
	min-width: 180px;
	max-height: 180px;
	content: url("images/tutors/Photo from Gontse (1) - 1.jpg");
}

#TutorImage3
{
	min-width: 180px;
	max-height: 180px;
	content: url("images/tutors/Photo from Gontse (2) - 1.jpg");
}

#TutorImage4
{
	min-width: 180px;
	max-height: 180px;
	content: url("images/tutors/Photo from Gontse (3) - 1.jpg");
}

#TutorImage5
{
	min-width: 180px;
	max-height: 180px;
	content: url("images/tutors/Photo from Gontse (4) - 1.jpg");
}

ul
{
	list-style-position: inside;
}

.tutorDetails
{
	text-align: left;
}

.leftServices
{
	background-color: #AD7B06;
}

.rightServices
{
	/*background-color: #F6F6F6;*/
	background-color: #D2D2D2;
}

#oneOnOneImage
{
	/*width: 100%;
	height: auto;*/
	content: url("images/content/one-on-one.jpg");
}

#groupImage
{
	content: url("images/content/group.jpg");
}

#homeworkImage
{
	content: url("images/content/homework.jpg");
}

#homeschoolImage
{
	content: url("images/content/homeschooling.jpg");
}

#examImage
{
	content: url("images/content/exam.jpg");
}

#careerImage
{
	content: url("images/content/career.jpg");
}

img .img-fluid
{
	max-width: 100%;
	height: auto;
}

.imgSizing
{
	width: 300px;
	height: 220px;
	border-radius: 7px;
}


/*Camp*/
#qtyRow1
{
	display: inline;
}

#qtyRow2
{
	display: inline;
}

#qtyRow3
{
	display: inline;
}

#totalRow4
{
	display: inline;
}






#firstRow
{
	/*margin-bottom: -19%;*/
}

.rowCardHeight
{
	max-height: 260px;
}

#firstRow:hover #mainPic
{
	/*margin-bottom: -19%;*/
	
	opacity: 0.6;
}

#firstRow:hover #learnBtn
{
	opacity: 1;
}



#troubleRow
{
	position: relative;
	margin-top: -24%;
}

.backgrounding
{
	background-color: #AD7B06;
	color: #FFFFFF; /*White*/
}

#learnParagraph
{
	text-align: center;
	position: relative;
	top: -40%;
	color: #FFFFFF; /*White*/
	
	background-color: rgb(0,0,0); /* Fallback color */
	background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
	color: white;
	/* font-weight: bold; */
}



#contactUs
{
	border-none;
	border-radius: 15px;
	
	
	background-color: #AD7B06;	/*Yellow*/
	width: 50%;
	color: #FFFFFF; /*White*/
}

#aboutHeading
{
	text-align: left;
	/*margin-top: -3%; for md*/
	/*margin-top: -7%; for sm*/
	margin-top: 0%; /* correct it to -25% if troubeRow has its margin-top set to -10%*/
}

.aboutAlign
{
	max-width: 60%;
}

#topScroll
{
	position: relative;
	left: 95%;
	top: 0.5%;
}